<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oterman.njubbs"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.oterman.njubbs" />

    <!-- 为了能够更改actionbar的颜色 需要自定义主题 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 分享需要的权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="com.oterman.njubbs.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/my_theme" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name="com.oterman.njubbs.activity.MainActivity_new"
            android:label="@string/app_name"
            android:theme="@style/myindicatorStyle" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.oterman.njubbs.activity.topic.TopicDetailActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- android:windowSoftInputMode="adjustPan|stateHidden" -->
        <activity
            android:name="com.oterman.njubbs.activity.board.BoardDetailActivity"
            android:launchMode="singleTask" />
        <!-- android:launchMode="singleTask" -->
        <activity
            android:name="com.oterman.njubbs.activity.LoginActivity"
            android:label="登陆" />
        <activity
            android:name="com.oterman.njubbs.activity.BigImageActivity"
            android:label="图片" />
        <activity
            android:name="com.oterman.njubbs.activity.topic.NewTopicActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name="com.oterman.njubbs.activity.topic.ModifyReplyActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity android:name="com.oterman.njubbs.activity.mail.MailBoxActicity" />
        <activity android:name="com.oterman.njubbs.activity.mail.MailContentActicity" />
        <activity
            android:name="com.oterman.njubbs.activity.mail.MailReplyActivity"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.oterman.njubbs.activity.mail.MailNewActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity android:name="com.oterman.njubbs.activity.expore.ColleageContentActivity" />
        <activity android:name="com.oterman.njubbs.activity.expore.ColleagesActivity" />
        <activity android:name="com.oterman.njubbs.activity.expore.FriendsActivity" />
        <activity android:name="com.oterman.njubbs.activity.expore.AddFriendActivity" />
        <activity android:name="com.oterman.njubbs.activity.expore.FindBoardActivity" />
        <activity android:name="com.oterman.njubbs.activity.expore.FindTopicActivity" />
        <activity android:name="com.oterman.njubbs.activity.expore.FindTopicTotalActivity" />
        <activity android:name="com.oterman.njubbs.activity.expore.MyTopicActivity" />
        <activity android:name="com.oterman.njubbs.activity.SettingActivity" />

        <!-- 分享 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

</manifest>